.li{
    display:flex;
    padding-bottom: 15px;
    border-bottom: 2px solid grey;
    width: 56%;
    margin-bottom: 5px;
}
.li div button{
    position: absolute;
    left: 50%;
    color:red;
    background-color: white;
    border: none;
    border-radius: 5%;

}
body{
    cursor: default;
    font-family:  Georgia,  "Times New Roman", Times, serif;
  }