<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a New Blog Post</title>
  <link rel="stylesheet" href="blogstyles.css">
</head>
<body>
  <div class="container">
    <div onclick="dback()" style="margin-top: 15px;"><img src="./images/go_back.png" alt="back" height="25px"></div>
    <h2>Edit Blog Post</h2>
    <form id="blogPostForm" >
      <div class="form-group">
        <label for="title">Blog Title</label>
        <input type="text" id="title" name="title" required placeholder="Enter the blog title">
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" name="content" rows="10" required placeholder="Write your content here..."></textarea>
      </div>
      <div class="form-group">
        <label for="image">Featured Image (leave empty for no change)</label>
        <input type="file" id="image" name="image" accept="image/*">
        <img id="imagePreview" src="" alt="Image Preview" style="display: none;">
      </div>

      <button type="" id="but" class="submit-btn" >Publish Blog</button>
    </form>
  </div>
  <!-- <script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script> -->
  <script>
    // CKEDITOR.replace('content');
    let token = localStorage.getItem("token");
    if (token == null) {
        window.location.href = 'login';
    }
    const urlParams = new URLSearchParams(window.location.search);
    const b_id = urlParams.get('param1');
    const imageInput = document.getElementById('image');
    const imagePreview = document.getElementById('imagePreview');
    async function find() {
        let blog=await fetch('/find_blog',{
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ b_id })
      });
      
      blog= await blog.json();
      console.log(blog);
      document.getElementById('title').value=blog.title;
      document.getElementById('content').value=blog.desc;
      
    }
    find();
    let imagePath ="/images/"
    imageInput.addEventListener('change', function () {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          imagePreview.style.display = 'block';
          imagePreview.src = e.target.result;
          imagePath=imagePath + file.name;
          console.log(imagePath)
        };
        reader.readAsDataURL(file);
      }
    });
    const blogForm= document.getElementById('but');


    blogForm.addEventListener('click', async (e) => {
      event.preventDefault();
      const title = document.getElementById('title').value;
      const desc =document.getElementById('content').value;
      console.log("2")
      const res = await fetch('/api/edit', {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ b_id ,title,desc ,token})
        });
        
        console.log(res)
      if(res.ok){
        const blog=await res.json()
        await alert("sucessfully update")
        history.back();
      }
      else{
        const error=await res.json()
        alert(error.message);
      }
    });
    function dback() {
      history.back();
    }
  </script>
</body>
</html>